.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.newNoticWrap {
  position: relative;
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .p-lg-4 {
    padding: 1.5rem !important;
  }
}
.p-2 {
  padding: 0.5rem !important;
}
@media (min-width: 992px) {
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}
.text-center {
  text-align: center !important;
}
@media (min-width: 992px) {
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important;
  }
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
@media (min-width: 992px) {
  .float-lg-right {
    float: right !important;
  }
}
.float-none {
  float: none !important;
}
.d-block {
  display: block !important;
}
.border10 {
  border: solid 10px #d7d7d7;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  border: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
.listArrowCir {
  list-style: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.listArrowCir li {
  background: url(./images/listArrow.png) left top 4px no-repeat;
  padding: 0 15px 15px 25px;
  text-align: justify;
}
.text-justify {
  text-align: justify !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 992px) {
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-12,
.col-lg-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.grayBg {
  background: #ebebeb;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
b,
strong {
  font-weight: bolder;
}
.text-justify {
  text-align: justify !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
b,
strong {
  font-weight: bolder;
}
.blueColor {
  color: #2b4779;
}

@media (max-width: 967px) {
.listArrowCir {
  text-align: justify !important;
  font-size: 20px;
}
.text-justify{
    font-size: 20px;
}
}